/* style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #ff2469;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 70px;
}

h2 {
  font-size: 38px;
}
#period-log-form {
  margin-bottom: 25px;
  background-color: #e8bdbdd3;
  padding: 70px 190px;
  width: 300px;
  margin: 0 auto;
  border-radius: 8px;
  font-size: 18px;
}

#cycle-data {
  border: 1px solid #957c7c;
  padding: 60px 100px;
  width: 200px;
  background-color: #fffbfdd3;
  border-radius: 7px;
  margin-top: 30px;
  font-size: 18px;
}

#cycle-data p {
  font-size: 101%;
}

input[type="date"],
input[type="number"],
button {
  padding: 15px 75px;
  font-size: 20px;
  width: 220px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px; 
}

button {
  padding: 13px 75px;
  font-size: 15px;
  background-color: #965569;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 15px;
} 

button:hover {
  background-color: #8d3d61;
}

p {
  margin: 5px 0;
}

span {
  font-weight: bold;
}

.more-info-button {
  padding: 35px 70px;
  font-size: 40px;
  background-color: #870c31;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-top: 50px;
  }
  
.more-info-button:hover {
  background-color: #8c1f3c;
}

#chatbot-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d0caca;
  border: 1px solid #c4c1c1;
  padding: 20px;
  width: 150px;
  border-radius:8px;
}

.chatbot-image {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.chatbot-message {
  font-size: 18px;
  margin-bottom: 10px;
}


/* .content {
  text-align: left;
  margin-left: 200px;
  margin-right: 50px;
} */

.content {
  border: 1px solid #ccc;
  padding: 80px;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 1px;
  background-color: #f7f7f7;
  font-size: 150%;
}

.go-back-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #870c31;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
}

.go-back-button:hover {
  background-color: #8c1f3c;
}

